@import url("./themes.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --distance: 25vw;
}
[x-cloak] {
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}
.fade-out-down {
  animation: fadeOutDown 0.5s ease-out;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
}
.wrap {
  transform: translateY(10vh);
}
.line {
  overflow: visible;
  position: relative;
  display: flex;
}
.left,
.right {
  width: var(--distance);
  overflow: hidden;
  display: inline-block;
}
.left {
  @apply text-primary;
  transform: skew(0deg, -15deg);
}
.right {
  transform: skew(0deg, 15deg);
}
.left .content {
  width: calc(var(--distance) * 2);
  text-align: center;
}
.right .content {
  width: calc(var(--distance) * 2);
  text-align: center;
  transform: translateX(calc(var(--distance) * -1));
}

.contact-item {
  @apply underline-effect;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @apply gap-16;
  @apply text-3xl;
  @apply p-1;
  @apply px-8;
  /* @apply bg-primary; */
  @apply hover:text-primary;
  @apply rounded-xl;
}
.contact-item svg {
  @apply text-6xl;
}

.spanSlow,
.spanFast {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 5.5vw;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8;
  transition: ease-out 0.6s;
}
.job span {
  font-size: 3.5vw !important;
}

.underline-effect {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--primary));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.parallax {
  background: url("https://w0.peakpx.com/wallpaper/159/115/HD-wallpaper-vivo-iqoo-neo-abej-abstract-beograd-blue-dark-edge.jpg");
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}
