@import url("./themes.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --distance: 25vw;
}
[x-cloak] {
  display: none;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.left {
  @apply text-primary;
}

.underline-effect {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--primary));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
